@import url('https://fonts.googleapis.com/css2?family=Roboto:wght,BNCE@300,-100&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #ffed92;
	color: #8b54fa;
	min-height: 100vh;
	padding: 1rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}
